* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #7A5CFA;
}
.main-class {
    width: 1250px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background-color: white;
    margin-left: 55px;
    margin-top: 50px;
    border-radius: 26px;
}
.name{
    margin-left: 30px;
    padding-top: 30px;
}
.pass{
    width: 1150px;
    height: 25px;
    margin-top: 10px;
    padding: 10px;
}
textarea{
    padding: 20px;
}
.Email{
    margin-left: 30px;
    padding-top: 30px;
}
.password{
    margin-left: 30px;
    padding-top: 30px;
}
.Address{
    margin-left: 30px;
    padding-top: 30px;
}
.sports{
    margin-left: 30px;
    padding-top: 30px;
}
.chek{
    margin-bottom: 15px;
    margin-right: 10px;
}
.gender{
    margin-left: 30px;
    padding-top: 30px;
}
.country{
    height: 50px;
    width: 1170px;
    margin-top: 10px;
    padding: 10px;
}
.your{
    margin-left: 30px;
    padding-top: 30px;
}
.Reset{
    border: 1px solid #7A5CFA;
    color: #7A5CFA ;
    background-color: white;
    width: 172px;
    height: 56px;
    border-radius: 7px;
}
.save{
    border: 1px solid white;
    color: wheat ;
    background-color:#7A5CFA ;
    width: 172px;
    height: 56px;
    border-radius: 7px;
}
.botton{
    /* margin-left: 30px; */
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 33px;
    margin-right: 45px;
}

span{
    color: red;
    display: none;
}
.tableOfValue{
    padding-right: 85px;
    padding-top: 14px;
}

/* #noDataFound{
    display: none;
} */

/* 
#span_pass{
    color: black;
    display: block; 
}*/     

/* #noUserAdded{
    width: 1250px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    background-color: white;
    margin-left: 55px;
    margin-top: 50px;
    border-radius: 26px;
    text-align: center;
    padding: 100px 0px;
    display: none;
} */

/* .tableHead{ */
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: space-around; */
/* } */

/* .tablehedinglst
{
    display: flex;
    justify-content: space-between;
} */